*{
	margin:0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
:root{
	--color-principal: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);; 
	--color-contraste: white;
	--color-fondo: #DDE3E6;
	--color-diferente: linear-gradient(to right, #136a8a, #267871);
}

p{
	float: left;
	width: 50%;
	background: rgba(255,255,255,.8);
	color: rgba(0,0,0,.7);
	margin-top: 10px;
	text-align: center;
	height: 40px;
	border-radius: 20px;
	margin-left: 25%;
	opacity: 0;
	transition:.4s all;
	line-height: 40px;
}
body,html{
	height: 100%;
}
	.login{
		width: 100%;
		height: 100%;
		float: left;
		background: var(--color-principal);
		/*padding-top: 130px;*/
	}

	input{
		float: left;
		width: 80%;
		margin-left: 10%;
		height: 40px;
		border-radius: 20px;
		margin-top: 10px;
		border: none;
		background: rgba(255,255,255,.3);
		font-size: 1em;
		color: white;
		padding-left: 10px;
		box-sizing: border-box;
		outline: none;
	}

	button{
		width: 50%;
		margin-left: 25%;
		float: left;
		background: transparent;
		border: 2px solid white;
		border-radius: 20px;
		height: 40px;
		margin-top: 40px;
		font-size: 1em;
		background: rgba(0,0,0,0.1);
		color: white;
		border-color: rgba(0,0,0,0.5);
		z-index: 99999;
	}

	#botonL{
		background: rgba(247, 222, 131,1);
		color: black;
		font-weight: bold;
		font-size: 1.2em;
	}
	label{
		width: 50%;
		margin-left: 25%;
		float: left;
		height: auto;
		font-size: 1.1em;
		color: black;
		font-weight: bold;
	}
	input{
		width: 50%;
		margin-left: 25%;
		float: left;
		background: transparent;
		border: 2px solid white;
		border-radius: 20px;
		height: 40px;
		font-size: 1em;
		margin-bottom: 20px;
		background: rgba(0,0,0,0.1);
		color: white;
		border-color: rgba(0,0,0,0.5);
	}

nav{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 60px;
	background: var(--color-principal);
	color: var(--color-contraste);
	text-align: center;
	line-height: 60px;
	font-size: 1.3em;
}

section{
	position: fixed;
	left: 0px;
	top: 60px;
	width: 100%;
	height: calc(100% - 60px);
	background: var(--color-fondo);
	overflow-y: scroll;
}

.contacto{
	width: calc(100% - 20px);
	margin-left: 10px;
	float: left;
	margin-top: 10px;
	height: 60px;
	background: white;
	border-radius: 10px;
}

	.contacto-img{

		width:50px;
		height: 50px;
		margin-top: 5px;
		margin-left: 5px;
		float: left;
	}
		.contacto-img img{
			width: 100%;
			border-radius: 50%;

		}



	.contacto-nombre{
		margin-left: 5px;
		margin-top: 20px;
		float: left;
		width: 60px;
		height: 30px;
		line-height: 30px;
		font-size: 1.1em;
		color: rgba(0,0,0,.8);
	}

	.contacto-estado{
		float: right;
		margin-right: 10px;
		text-align: right;
		margin-top: 25px;
		width: calc(100% - 100px);
		height: 30px;
		font-size: .9em;
		color: rgba(0,0,0,.4);
	}

article{
	width: 100%;
	height: calc(100% - 60px - 80px);
	background: var(--color-fondo);
	position: fixed;
	top: 60px;
	left: 0px;
	overflow: scroll;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 18%;
	left: 0px;
	height: 80px;
	background: var(--color-fondo);
}

	footer>button{
		background: rgba(247, 222, 131,1);
		color: black;
		font-weight: bold;
		font-size: 1.2em;
		bottom: 10px;
	}

	.msj{
		max-width: calc(50% + 10px);
		clear: both;/*DESPEJAR EN AMBOS LADOS DEL ELEMENTO*/
		padding: 5px;
		margin:10px 10px 0px 10px;
		border-radius: 10px;
		color: var(--color-contraste);
	}

	.entrante{
		float: left;
		background: var(--color-diferente);
	}

	.saliente{
		float: right;
		background: var(--color-principal);
	}

	nav>i{
		float: left;
		height: 90px;
		width: 30px;
		font-size: 1.5em !important;
		line-height: 60px !important;
	}

	nav>h1{
		font-size: 1em;
		font-weight: lighter;
		float: left;
		margin-left: 15px;
	}

.oculto{
	margin-left:100px !important;
	opacity: 0;
}
/*EL MISMO SELECTOR QUE LA LINEA 34*/
.contacto{
	transition: .3s all;
}
#circulo{
	width: 500px;
	height: 500px;
	position: fixed;
	left: calc(50% - 250px);
	top: calc(50% - 250px);
	background: var(--color-principal);
	border-radius: 50%;
	z-index: 9999;
	transform: scale(.001);
	transition: .3s all;
}
	.full{
		transform: scale(2) !important;
	}

.msj{
	transition: .3s all;
}

.escondido{
	opacity: 0;
	margin-top: 50px;
}
#Cerrar{
	float: right;
	margin-right: 15px;
}
#contenedor>h2{
	margin-top: 10px;
	text-align: center;
	line-height: 40px;
}
#contenedor>img{
	max-height: 180px;
	max-width: 180px;
	display: block;
	margin:0 auto 0 auto;
}

.botonF1{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  right:0;
  bottom:5%;
  position:absolute;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
}
div.stars { 
  width: 100%;
  display:inline-block;
  /*text-align: center;*/
  top: 55%;
  position: absolute;

    right: calc(100% - 83%);

  
}

input.star { display: none; }

label.star {
	width: 0% !important;
	float: right;
  display: inline;
  padding: 28px;
  margin: auto;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
#icon{
	float: left;
	width: 100%;
	height: 100px;
	text-align: center;
	margin-top: 70px;
	color: rgba(0,0,0,.5);
	font-size: 70px;

}
.otro{
	width: 100%;
		height: 100%;
		float: left;
		background: var(--color-principal);
		padding-top: 230px;
}
#fileToUpload{
	background: none !important;
	border: none;

}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}